body {
    background: rgb(55, 55, 56);
  }

 img {
    margin-top: 200px;
    margin-left: 560px;
    width: 28%;
 } 
 .text1{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
 }
 .clock {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
  }
 .text2 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
  }
